@use 'src/styles';

div#movies {
  display: flex;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    mat-card.movie {
      width: 500px;
      display: flex;
      align-items: center;
      img.moviePoster {
        width: 300px;
        height: fit-content;
      }
      div.Info {
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        mat-card-title {
          text-decoration: none;
        }
        div.voteAvg {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          mat-progress-spinner {
            width: 50px;
          }
          h3 {
            position: absolute;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
