<div *ngIf="movieData != {}">

  <div id="bkgndDiv">
    <img id="bkgndImg" src="https://image.tmdb.org/t/p/original{{ movieData.backdrop_path }}" />
  </div>
  <mat-card>
    <img id="moviePoster" src="http://image.tmdb.org/t/p/original{{ movieData.poster_path }}" />
    <div class="movieInfo">
      <h1>{{ movieData.title }}</h1>
      <h3 *ngIf="movieData.original_title != movieData.title">
        {{ movieData.original_title }}
      </h3>
      <h4 *ngIf="movieData.tagline != ''">"{{ movieData.tagline }}"</h4>

      <h4>{{math.floor(movieData.runtime / 60)}} hr(s) {{movieData.runtime%60}} minutes</h4>
      <div id="links">
        <a href="https://www.imdb.com/title/{{ movieData.imdb_id }}" rel="noreferrer" target="_blank">
          <fa-icon [icon]="faImdb"></fa-icon>
        </a>
        <a *ngIf="movieData.homepage != ''" href="{{ movieData.homepage }}" rel="noreferrer" target="_blank">
          <fa-icon [icon]="faLink"></fa-icon>
        </a>
      </div>
      <p>{{ movieData.overview }}</p>
      <div id="budget" *ngIf="movieData.budget != '0'">
        <h4>Budget: ${{ movieData.budget }}</h4>
        <h4 *ngIf="movieData.revenue != '0'">Revenue: ${{ movieData.revenue }}</h4>
        <h4 *ngIf="movieData.income > '0'">Income (Estimated): ${{ movieData.income }}</h4>
      </div>
      <div id="collection" *ngIf="movieData.belongs_to_collection">belongs to collection :
        {{movieData.belongs_to_collection.name}}
        <img src="https://image.tmdb.org/t/p/original{{movieData.belongs_to_collection.poster_path}}">
      </div>
      <div id="genres" class="prodList">
        <h4>Genres</h4>
        <ul>
          <li *ngFor="let genre of movieData.genres">{{genre.name}}</li>
        </ul>
      </div>
      <div id="companies" class="prodList">
        <h4>Production Companies</h4>
        <ul>
          <li *ngFor="let company of movieData.production_companies">
            <a><img alt={{company.name}} src="http://image.tmdb.org/t/p/original{{company.logo_path}}" /></a>
          </li>
        </ul>
      </div>
      <div id="countries" class="prodList">
        <h4>Production Countries</h4>
        <ul>
          <li *ngFor="let country of movieData.production_countries">
            {{country.name}}
          </li>
        </ul>
      </div>
      <div id="languages" class="prodList">
        <h4>Spoken Languages</h4>
        <ul>
          <li *ngFor="let language of movieData.spoken_languages">
            {{language.english_name}} {{language.name == language.english_name ? null : language.name}}
          </li>
        </ul>
      </div>
    </div>
  </mat-card>
</div>
