div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img#bkgndImg {
    opacity: 0.5;
    width: 100vw;
    position: absolute;
  }
  mat-card {
    margin: 10em;
    margin-top: 10em;
    display: flex;
    width: 80vw;

    img {
      width: 500px;
      height: fit-content;
    }
    .movieInfo {
      div#links {
        display: flex;
        flex-direction: row;
        a {
          fa-icon {
            padding: 0.5em;
            font-size: 24px;
          }
        }
      }
    }
  }
}
